@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(baijamjuree-200.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(baijamjuree-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(baijamjuree-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(baijamjuree-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(baijamjuree-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(baijamjuree-700.ttf) format('truetype');
}
